<head>
	<title>illustrate</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>

<body>
	{{> tool_selector }}
	{{> canvas_wrapper }}
	{{> command_line }}
</body>

<template name="tool_selector">
	{{#each tools}}
		<a class="tool_selector" id={{id}}>{{name}}</a><br/>
	{{/each}}
	{{#each tool_modifiers}}
		<form class="tool_modifier_selector" id={{id}}>
				{{name}}: <input type="text" value={{value}}>
		</form> 
	{{/each}}
</template>

<template name="canvas_wrapper">
	{{> view_canvas }}
	{{> edit_canvas}}
</template>

<template name="edit_canvas">
	<canvas id="canvas" resize></canvas>
</template>

<template name='view_canvas'>
	<svg></svg>
</template>

<template name='command_line'>
	<div id="command_line_wrapper">
		<div id="command_line_history">
			{{#each logs}}
				<p class="log_message">
					{{#if type}}
						<span>{{type}}: </span>
					{{/if}}
					<span>{{text}}</span>
					{{#if resultant_command }}
						-> <span>{{resultant_command}}</span>
					{{/if}}
				</p>
			{{/each}}
		</div>
		<form id="command_line_form">
			<div>
				<!-- <p>{{context}}:</p> -->
				<p>Command:</p>
				<input id="command_line" type="text">
			</div>
		</form>
	</div>
</template>