<head>
	<title>illustrate</title>
</head>

<body>
	{{> tool_selector }}
	{{> canvas_wrapper }}
</body>

<template name="tool_selector">
	{{#each tools}}
		{{#if button}}
			<a class="tool_selector" id={{id}}>{{name}}</a><br/>
		{{else}}
			<form class="colour_selector">
				{{name}}: <input type="text" value={{currentColour}} id={{id}} name="colour"> 
			</form>
		{{/if}}
	{{/each}}
</template>

<template name="canvas_wrapper">
	{{> view_canvas }}
	{{> edit_canvas}}
</template>

<template name="edit_canvas">
	<canvas id="canvas" resize></canvas>
</template>

<template name='view_canvas'>
	<svg></svg>
</template>